@module: home;

.@{module} {
  background-color: rgba(0, 0, 0, 0.04);
  height: 100vh;
  padding: 10px 24px;
  width: 100vw;

  .title {
    color: black;
    font-size: 40px;
    text-align: center;
  }

  .header {
    display: flex;
    justify-content: space-between;
    margin: 80px 0 20px 0;

    .search-input {
      width: 300px;
    }

    .add-btn {
      background-color: #3182ce;
    }
  }

  .newspaper-list {
    color: black;

    table {
      color: black;
    }
  }

  .pagination {
    margin-top: 10px;
    text-align: end;
  }
}
